@model IEnumerable<Employee_CRUD.Models.NoteUnderReviewViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container-m_ad">
    <h3>Notes Under Review</h3>
    <div class="row notes-under">
        <div class="col-md-12">
            <label class="nur">Seller</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <select class="form-control seller">
                <option value="" disabled selected hidden>Seller</option>
                <option value="">.</option>
                <option value="">..</option>
                <option value="">...</option>
            </select>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="search-ds" placeholder="&#xf002;  Search">

        </div>
        <div class="col-md-2">
            <button type="button" class="form-control" id="search-ds01">SEARCH</button>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr class="table11" style="height: 75px;">
                <th scope="col" style="vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.Sr_No)
                </th>
                <th scope="col" style="vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.NoteTitle)
                </th>
                <th scope="col" style="vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th scope="col" style="vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.Seller)
                </th>
                <th scope="col" style="vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                <th scope="col" style="vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th scope="col" style="vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.Action)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {

                @foreach (var item in Model)
                {
                    <tr class="table2">
                        <td >
                            @Html.DisplayFor(modelItem => item.Sr_No)
                        </td>
                        <td style="color: #6255a5;">
                            @Html.DisplayFor(modelItem => item.NoteTitle)
                        </td>
                        <td >
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td >
                            @Html.DisplayFor(modelItem => item.Seller)
                        </td>
                        <td >
                            @Html.DisplayFor(modelItem => item.DateAdded)
                        </td>
                        <td >
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td >
                            @Html.DisplayFor(modelItem => item.Action)
                            <button class="btn btn-primary approve" type="submit">Approve</button>
                            <button class="btn btn-primary reject" type="submit">Reject</button>
                            <button class="btn btn-primary inreview" type="submit">InReview</button>
                        </td>
                    </tr>
                }
            }


        </tbody>
    </table>

</div>

<!--Pagination-->
<div class="text-center">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link langle" href="#" aria-label="Previous">
                <span aria-hidden="true" class="fa fa-angle-left"></span>
            </a>
        </li>
        <li class="page-item"><a class="page-link page-item" href="#">1</a></li>
        <li class="page-item"><a class="page-link page-item" href="#">2</a></li>
        <li class="page-item"><a class="page-link page-item" href="#">3</a></li>
        <li class="page-item"><a class="page-link page-item" href="#">4</a></li>
        <li class="page-item"><a class="page-link page-item" href="#">5</a></li>

        <li class="page-item">
            <a class="page-link rangle" href="#" aria-label="Next">
                <span aria-hidden="true" class="fa fa-angle-right"></span>
            </a>
        </li>
    </ul>
</div>
