@model IEnumerable<PostViewModel>
@{
    ViewBag.Title = "Index";
}

<style>
    .card-img-top {
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }
</style>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <a class="stretched-link" href="#">@item.UserName</a>
                    <p class="blockquote-footer float-right">@item.PostedDateTime.ToString("dd MMM yyyy hh:mm tt") </p>
                </div>
                <img src="~/Assets/Image/QuotesData/@item.ImageName" class="card-img-top post-card" alt="@item.QuoteText" title="@item.QuoteText">
                <div class="card-body">
                    <p class="card-text">
                        @foreach (var TagItems in item.Tags)
                        {
                            <span class'stretched-link'>#@TagItems </span>
                        }
                    </p>
                    <footer>
                        <div class="row">
                            <div class="col-3 text-center"><i class="fa fa-heart"></i></div>
                            <div class="col-3 text-center"><a href="@Url.Action("DownloadFiles", "Home", new { filename = item.ImageName })"><i class="fa fa-download"></i></a></div>
                            <div class="col-3 text-center"><a class="share-post" data-filename="@item.ImageName"><i class="fa fa-share"></i></a></div>
                            <div class="col-3 text-center"><a class="share-post-wa" data-filename="@item.ImageName"><i class="fa fa-clipboard"></i></a></div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    }
</div>



@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        });
        $(document).on("click", ".share-post", function () {
            var FileName = $(this).data("filename");
            $.ajax({
                url: "/Home/ShortenLink?FileName=" + FileName,
                type: 'Get',
                success: function (result) {
                    if (result) {
                        navigator.clipboard.writeText(result.shortenLink).then(function () {
                            Toastr("success", "Share link copied to your clipboard!");
                        }, function (err) {
                            Toastr("warning", "Share link not generate!");
                        });
                    }
                }
            });
        });

        $(document).on("click", ".share-post-wa", function () {
            var FileName = $(this).data("filename");
            $.ajax({
                url: "/Home/ShortenLink?FileName=" + FileName,
                type: 'Get',
                success: function (result) {
                    if (result) {
                        var URL = "https://web.whatsapp.com/send?text=" + result.shortenLink;
                        window.open(URL, '_blank');
                    }
                }
            });
        });

    </script>
}